../../.BrowserLock/
	../../.CFUserTextEncoding
	../../.DS_Store
	../../.angular-config.json
	../../.anydesk/
	../../.bash_history
	../../.config/
	../../.docker/
	../../.git-credentials
	../../.gitattributes
	../../.gitconfig
	../../.jenkins/
	../../.kube/
	../../.lemminx/
	../../.lesshst
	../../.m2/
	../../.minikube/
	../../.mongodb/
	../../.my-busybox.yaml.swo
	../../.my-busybox.yaml.swp
	../../.npm/
	../../.python_history
	../../.ssh/
	../../.sts4/
	../../.swiftpm/
	../../.viminfo
	../../.vscode/
	../../.zprofile
	../../.zsh_history
	../../.zsh_sessions/
	../../.zshrc
	../../Applications/
	../.DS_Store
	../.helmignore
	../.localized
	../2024_03_04_09_36_52-01.mp3
	../CKA/
	../Conferma della prenotazione _ PSI Online.pdf
	../Freeform
	../RM 3T.png
	../Schermata 2024-01-06 alle 20.55.38.png
	../Screenshot 2024-03-26 alle 12.33.04 (2).png
	../Screenshot 2024-04-12 alle 10.59.24.png
	../Screenshot 2024-04-12 alle 15.02.43.png
	../Screenshot 2024-05-19 alle 17.51.35.png
	../Screenshot 2024-05-22 alle 22.51.04 (2).png
	../Screenshot 2024-05-22 alle 22.51.04.png
	../Screenshot 2024-05-31 alle 10.16.43 (2).png
	../Screenshot 2024-05-31 alle 10.16.43.png
	../Visual Studio Code.app/
	../allenamento igor.numbers
	../automatizzare su insta.png
	../buono FLIXBUS.png
	../certificazione/
	../cristian_alloggio_CV.pdf
	../cucumber-it.pdf
	../devvopps-aspmvc.yaml
	../devvops.yaml
	../foto fb/
	./
	../ivan martellato/
	../kubernetes/
	../nodeportdeployment.yaml
	../spid.png
	../storie da favola.pdf
	../../Documents/
	../../Filmato del 27-04-23 alle 15.00 #3.mov
	../../Library/
	../../Movies/
	../../Music/
	../../Pictures/
	../../Public/
	../../daemon-imp
	../../daemon-imp.yaml
	../../non-root-pod.yaml
	../../persistentvolume.yaml
	../../pod-pvclaim.yaml
	../../pv-plus.yaml
	../../pv.yaml
	../../pv_list.txt
	../../pvc.yaml
	../../vi-deploy.yaml
	../../web-app.yaml
	../../web-deploy.yaml
	../../web-pv.yaml
	../../web-pvc.yaml

